.lpr
*.asv
*.log
*.dmp
*.autosave
*.slxc
*.r2016a
*.mat
*.l
*.xml
*.htm
models/morpho_open/slprj/modeladvisor/UpgradeAdv_/ar_lht_hw/ModelAdvisorData
*.html
*.tmw
hwprj/ar_lht_1024/netlist
hwprj/ar_lht_768/netlist
hwprj/ar_lht_512/netlist
hwprj/ar_lht_256/netlist
